html,body{
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
}

:root {
    --blue: #005BEA;
    --skyblue: #74BCF8;
    --white: #ffffff;
    --yellow: #FFD607;
}
/*==============index start=====================*/
.bg-msg{
    background-color: var(--skyblue);
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--white);
    width: 90%;
}

.bg-msg-system{
    background-color: var(--blue);
    font-size: 20px;
    margin-bottom: 20px;
    font-weight: bold;
    color: var(--white);
    width: 90%;
}

.bg-circle-block {
    width: 30%;
    height: 60%;
    border-radius: 50%;
    background: var(--skyblue);
    position: fixed;
    top: -30%;
    left: 75%;
}

.bg-circle-dot{
    margin: 0;
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    border: 6px dashed #ECECEC;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-98%);
}

.bg-circle-border{
    position: fixed;
    overflow: auto;
    width: 30%;
    height: 60%;
    border: 50px solid var(--blue);
    border-radius: 50%;
    top: 60%;
    left: -5%;
}

.index-container{
    //overflow: hidden;
    padding-top: 100px;
    width: 100%;
    height: 100%;
    position: relative;
}

.login-row{

    width: 70%;
    height: 70%;
    box-shadow: 0 0 20px 20px var(--skyblue);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.side-image{
    padding: 0;
    height: 100%;
    margin: auto;
    display: block;
    background-color: var(--white);
}
.side-image img{
    width: 100%;
    height: 100%;
}

.login-form{
    background-color: var(--blue);
}

.side-margin{
    width: 85%;
    height: 100%;
    margin-top: 15%;
    margin-left: auto;
}


.login-welcome{
    color: var(--white);
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 32px;
}

.input-container {
    position: relative;
    /*display: block;
    z-index: 1;*/
    width: 100%;
    margin-bottom: 15px;
}

.icon {
    padding-left: 15px;
    font-size: 20px;
    top: 15px;
    position: absolute;
    color: var(--skyblue);
    min-width: 50px;
    text-align: center;
}
.login-form-text::placeholder{
    font-size: 15px;
    color: var(--skyblue);
}

.login-form-text{
    /*z-index: 2;*/
    outline: none;
    border: none;
    border-radius: 42px;
    width: 85%;
    height: 50px;
    padding-left: 65px;
    color: #000000;
}

.form-button{
    margin: 20px 15px 20px 0;
    height: 40px;
    background-color: var(--blue);
    border-radius: 32px;
    border: 1px solid var(--white);
    width: 110px;
    //margin-right: 15px;
    color: var(--white);
}

.form-button:hover{
    background-color: var(--yellow);
    color: black;
}

.signup{
    border: 1px solid var(--white);
    background-color: var(--blue);
    color: var(--white);
}

.signup:hover{
    background-color: var(--yellow);
    color: black;
}

/*==============index close=====================*/



/*==============register start================*/

.register-row{
    width: 80%;
    height: 80%;
    box-shadow: 0 0 20px 20px var(--skyblue);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.register-icon{
    padding-left: 15px;
    font-size: 20px;
    top: 15px;
    position: absolute;
    color: var(--skyblue);
    min-width: 50px;
    text-align: center;
}

.register-header{
    color: var(--white);
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: center;
    padding-top: 5%;
}

.register-margin{
    width: 85%;
    height: 100%;
    margin-left: auto;
}
/*==============register end================*/

/*============== dashboard-sidebar start================*/

.dash-row{
    padding: 0;
    margin: 0 !important;
}

.dashboard-col{
    padding: 0 !important;
    background-color: var(--blue);
    width: 20% !important;
}

.dash-style{
    width: 100%;
    padding: 20px 0 20px 15%;
    position: relative;
}

.category-icon{
    position: absolute;
    color: var(--white);
    font-size: 20px;
    top: 33px;
}

.dash-content{
    padding-left: 40px!important;
    font-size: 25px;
    color: var(--white);
    text-decoration: none;
}

.logo-row{
    width: 100%;
    margin: 0 !important;
}

.logo-image{
    width: 80% !important;
    margin: auto;
    padding-top: 25px;
    padding-bottom: 65px;
}

/*============== dashboard-sidebar end================*/

/*==============dashboard start================*/

.dashboard-category-row{
    display: inline-block;
    height: 100%;
    margin: 0 !important;
}


/*==============dashboard end================*/

/*==============book_search start============*/
.header-welcome{
    font-weight: bold;
    font-size: 40px;
    color: var(--blue);
    width: 100%;
    padding-top: 40px;
}

.header-book-list{
    width: 100%;
    color: var(--yellow);
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 35px;
}

.form-div-input-size{
    width: 35% !important;
}

.form-input{
    width: 20%;
    height: 35px;
    margin-right: 30px;
}

.form-input::placeholder{
    text-align: center;
}

.search-form{
    padding-bottom: 40px;
}

.table{
    vertical-align: baseline !important;
}
/*==============book_search end============*/
/*==============category start================*/

.row{
    --bs-gutter-x: 0 !important;
}

.right-common-row{
    margin: 0 !important;
}

.dashboard-right-side{
    width: 100%;
    padding: 0 0 0 4% !important;
    height: auto;
    background-size: cover;
}

.category-bg{
    display: inline-block;
    width: 100%;
    height: auto;
    opacity: 0.3;
}

.category-label-text{
    font-size: 20px;
    margin-bottom: 5px;
}

.category-submit{
    border: none;
    padding: 6px 35px;
    text-decoration: none;
    background-color: var(--yellow);
    font-weight: bold;
}

.my-custom-scrollbar {
    position: relative;
    height: 600px;
    overflow: auto;
}

tbody, td, tfoot, th, thead, tr {
    border-style: none !important;
}

.center{
    text-align: center;
}
/*==============category end================*/